.form-container.forgot-container.small-container
  #forgot-form.reset
    .title-page
      h1= t('Reset Password!')
    form.form(action="/forgot/reset", method="post", role="form")
      ul.form-errors
      .form-group
        input.form-control(type='password', name='password', tabindex=1, placeholder=t('Password'))
      .form-group
        input.form-control(type='password', name='re_password', tabindex=2, placeholder=t('Repeat Password'))
      .form-group: input.btn.btn-block.btn-primary.btn-lg(type='submit', tabindex=3, value=t('Send'))
