nav.sidebar-nav
  #filter-container.dropdown-department

  #list-container

  #footer-container
    div Con tecnología de
    a(href="http://democracyos.org/", target="_blank")
      img(src="/boot/images/dos-logo.svg")
