nav.sidebar-nav
  #filter-container.dropdown-department

  #list-container

  #footer-container
    div Con tecnología de
    div
      a(href="http://democracyos.org/", target="_blank")
        img.svg(src="/boot/images/dos-logo.svg")
    div
    div El contenido se publica bajo
    div
      a(rel="license", href="http://creativecommons.org/licenses/by/4.0/", target="_blank")
        img(alt="Creative Commons License", src="http://i.creativecommons.org/l/by/4.0/80x15.png")
    div
    div Por el equipo de
    div
      a(href="http://www.presidencia.gob.mx/edn", target="_blank")
        img.svg.mx_a(alt="México Abierto", src="http://mxabierto.github.io/iniciativa-datos-abiertos/assets/img/mx_a-logo-h.svg", onerror="http://mxabierto.github.io/iniciativa-datos-abiertos/assets/img/mx_a-logo-h.png")

